<!-- app/views/messages/index.html.erb -->
<div class="container">
  <h1>Messages for <%= @quest.title %></h1>
  <p>Current Status: <%= @quest.status %></p>
  
  
  <!-- ステータス更新用のボタン -->
  <% if current_user.id == @quest.acceptor_id %>
  <% if @quest.status == "実行前" %>
    <%= button_to "Change Status to 処理中", update_status_quest_messages_path(@quest, new_status: "処理中"), method: :post %>
  <% elsif @quest.status == "処理中" %>
    <%= button_to "Change Status to 終了確認", update_status_quest_messages_path(@quest, new_status: "終了確認"), method: :post %>
  <% end %>
<% elsif current_user.id == @quest.requester_id %>
  <% if @quest.status == "実行前" %>
    <%= button_to "Change Status to 未着手", update_status_quest_messages_path(@quest, new_status: "未着手"), method: :post %>
  <% elsif @quest.status == "終了確認" %>
    <%= button_to "Change Status to 終了", update_status_quest_messages_path(@quest, new_status: "終了"), method: :post %>
  <% end %>
<% end %>
  
  
  
  <div>
    <% @messages.each do |message| %>
      <p><strong><%= message.sender.email %>:</strong> <%= message.content %></p>
    <% end %>
  </div>

  <!-- メッセージの送信制限に関する条件を追加 -->
  <% if (@quest.status == "未着手") || (current_user.id == @quest.requester_id || current_user.id == @quest.acceptor_id) %>
    <%= form_with(model: [ @quest, @message ]) do |form| %>
      <%= form.text_area :content %>
      <%= form.submit "Send" %>
    <% end %>
  <% else %>
    <p>You cannot send messages in this quest's current state.</p>
  <% end %>
</div>
