<!-- app/views/messages/index.html.erb -->
<div class="container">
  <h1>Messages for <%= @quest.title %></h1>
  <div>
    <% @messages.each do |message| %>
      <p><strong><%= message.sender.email %>:</strong> <%= message.content %></p>
    <% end %>
  </div>

  <!-- メッセージの送信制限に関する条件を追加 -->
  <% if (@quest.status == "未着手") || (current_user.id == @quest.requester_id || current_user.id == @quest.acceptor_id) %>
    <%= form_with(model: [ @quest, @message ]) do |form| %>
      <%= form.text_area :content %>
      <%= form.submit "Send" %>
    <% end %>
  <% else %>
    <p>You cannot send messages in this quest's current state.</p>
  <% end %>
</div>
