<div class="container mt-5">
  <h1>Edit Quest</h1>
  
  <%= form_with(model: @quest, local: true, html: { class: 'needs-validation', novalidate: '' }) do |f| %>
    <% if @quest.errors.any? %>
      <div class="alert alert-danger">
        <strong><%= pluralize(@quest.errors.count, "error") %> prohibited this quest from being updated:</strong>
        <ul>
          <% @quest.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="mb-3">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control', required: '' %>
  </div>
  
  <div class="mb-3">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_area :description, class: 'form-control', rows: 3, required: '' %>
  </div>
  
  <div class="mb-3">
    <%= f.label :requester_id, class: 'form-label' %>
    <%= f.number_field :requester_id, class: 'form-control', required: '' %>
  </div>

  <div class="mb-3">
    <%= f.label :acceptor_id %>
    <%= f.number_field :acceptor_id, class: 'form-control', required: '' %>
  </div>

  <div class="mb-3">
    <%= f.label :category %>
    <%= f.number_field :category, class: 'form-control', required: '' %>
  </div>

  <div class="mb-3">
    <%= f.label :status %>
    <%= f.number_field :status, class: 'form-control', required: '' %>
  </div>

  <div class="mb-3">
    <%= f.label :difficulty %>
    <%= f.number_field :difficulty, class: 'form-control', required: '' %>
  </div>

  <div class="mb-3">
    <%= f.submit "Update Quest", class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>
