<div class="container mt-5">
  <h1 class="mb-4"><%= @quest.title %></h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @quest.title %></h5>
      <p class="card-text"><%= @quest.description %></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Requester ID: <%= @quest.requester_id %></li>
        <li class="list-group-item">Acceptor ID: <%= @quest.acceptor_id %></li>
        <li class="list-group-item">Category: <%= @quest.category %></li>
        <li class="list-group-item">Status: <%= @quest.status %></li>
        <li class="list-group-item">Difficulty: <%= @quest.difficulty %></li>
        <li class="list-group-item">Created at: <%= @quest.created_at %></li>
        <li class="list-group-item">Updated at: <%= @quest.updated_at %></li>
      </ul>
    </div>
  </div>
  <div class="mt-4">
    <%= link_to 'Edit', edit_quest_path(@quest), class: 'btn btn-secondary' %>
    <%= button_to 'Delete Quest', quest_path(@quest), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% unless current_user.id == @quest.requester_id %>
      <%= button_to '受注する', accept_quest_path(@quest), method: :post %>
    <% end %>
    <!-- メッセージ画面に遷移するボタン -->
    <%= link_to 'Go to Messages', quest_messages_path(@quest), class: 'btn btn-primary' %>
  </div>
</div>
