<!-- app/views/layouts/header.html.erb -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <%= link_to 'Charitask', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Quest Board', quests_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'My Account', account_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <span class="navbar-text">
            Logged in as: <%= current_user.email %>
          </span>
        </li>
        <li class="nav-item">
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
